* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
background-color: grey;
display:flex;
flex-wrap:wrap;
justify-content: space-around;

}

nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    color:inherit;
}
nav {
    background:grey;
    color:#fff;
    font-size:1.5rem;
    font-family:sans-serif;
}
nav>ul>li {
    display:inline-block;
    vertical-align: top;
    margin-right:1rem;
    position:relative;
}
nav li ul {
    margin:0;
    padding:1rem;
    background: grey;
    display:none;
    position:absolute;
}
nav li:hover ul {
    display:block;
}

nav li ul li:hover {
    background-color:red;
}

